@import '../../assets/scss/utils';

.wrapper {
  position: relative;
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;

  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  &:hover {
    color: $dark-color;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 98%;
    padding: 0 15px;
    width: 160px;

    .label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: uppercase;
      margin-right: 5px;
    }
  }

  .list {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: $light-color;
    border: 1px solid $border-color;
    z-index: 10;
    overflow: overlay;
    max-height: 190px;
    width: 100%;

    .item {
      padding: 7px 5px;
      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .show {
    @include show;
  }

  .hide {
    @include hide;
  }

  .rotateDown {
    @include rotateDown;
  }

  .rotateUp {
    @include rotateUp;
  }
}
