@import '../../assets/scss/utils';

.dropdown-search-header {
  position: relative;
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;

  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  &:hover {
    color: $dark-color;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 98%;
    padding: 0 15px;
    width: 190px;

    &__label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: uppercase;
      margin-right: 5px;
    }
  }

  &__list {
    @include hide;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: $light-color;
    border: 1px solid $border-color;
    z-index: 10;
    overflow: overlay;
    max-height: 190px;
    width: 100%;

    &__item {
      padding: 7px 5px;
      &:hover {
        background-color: $hover-color;
      }
    }
  }

  &__show {
    @include show;
  }

  &__rotateDown {
    @include rotateDown;
  }

  &__rotateUp {
    @include rotateUp;
  }
}
