@import '../../assets/scss/utils';

.modal-layout {
  &__content {
    position: relative;
    background-color: $light-color;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px 30px 30px;
    width: 80%;
    height: 85%;

    @media (max-width: $mobile-md-width) {
      padding: 60px 10px 10px 10px;
    }

    @media (max-width: $desktop-xs-width) {
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: auto;
    }

    &__close {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;

      &:hover {
        path {
          fill: $gray-color;
        }
      }
    }
  }

  &__overlay {
    @include hide;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $layout-color;
  }
  
  &__show {
    @include show;
  }
}
