@import './vars';

@mixin container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-md-width) {
    width: 750px;
  }
  @media (min-width: $desktop-xs-width) {
    width: 970px;
  }
  @media (min-width: $desktop-md-width) {
    width: 1170px;
  }
}

@keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
