@import './vars';

@mixin container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-md-width) {
    width: 750px;
  }
  @media (min-width: $desktop-xs-width) {
    width: 970px;
  }
  @media (min-width: $desktop-md-width) {
    width: 1170px;
  }
}

@mixin rotateDown {
  transform: rotate(180deg);
  transition: transform $animation-time linear;
}

@mixin rotateUp {
  transform: rotate(0deg);
  transition: transform $animation-time linear;
}

@mixin show {
  visibility: visible;
  opacity: 1;
  transition: opacity $animation-time, visibility $animation-time;
}

@mixin hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity $animation-time, visibility $animation-time;
}

@mixin button {
  cursor: pointer;
  border: none;
  background-color: $main-color;
  color: $light-color;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 2px;

  &:hover {
    background-color: $main-color-dark;
  }
}

@mixin adminCardButton {
  cursor: pointer;
  border: none;
  background-color: $dark-color;
  color: $light-color;
  font-weight: bold;
  padding: 8px 12px;

  &:hover {
    background-color: $gray-color;
  }
}
