$mobile-md-width: 425px;
$tablet-sm-width: 576px;
$tablet-md-width: 768px;
$desktop-xs-width: 992px;
$desktop-md-width: 1200px;

$main-color: #8bd41d;
$dark-color: black;
$gray-color: #777;
$light-color: white;
$hover-color: #f0fff5;
$border-color: rgba(129,129,129,.2);
$layout-color: #1f1f1fa8;

$width-logo: 290px;

$animation-time: 0.2s;