@import './fonts';
@import './vars';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

::selection {
  color: $hover-color;
  background: $main-color;
}

body {
  margin: 0;
  background-color: $light-color;
  color: $dark-color;
  overflow-y: scroll;
}

// :focus {
//   outline: none;
//   background-color: $bg-font-hover;
// }

// body.using-mouse :focus {
//   outline: none;
//   background-color: transparent;
// }
