@import '../../../../assets/scss/utils';

.cart-form {
  &__fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border: 1px solid $gray-color;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  &__legend {
    font-weight: bold;
  }

  &__field {
    margin: 15px 0px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__bottom {
    text-align: center;
  }

  &__submit {
    @include button;
    height: 45px;
    width: 100%;
    font-size: 18px;
  }

  &__error {
    position: absolute;
    color: $danger-color;
    bottom: 4px;
    font-size: 12px;
    left: 20px;
  }
}