@import '../../assets/scss/utils';

.desktop-header {
  border-bottom: 1px solid $border-color;
  font-size: 13px;

  &__container {
    @include container;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 105px;
    
    &__logo {
      min-width: $width-logo;
    }
  }

  @media(max-width: $desktop-xs-width) {
    display: none;
  }
}