@import '../../assets/scss/utils';

.wrapper {
  border-bottom: 1px solid $border-color;
  font-size: 13px;

  .container {
    @include container;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 105px;
  }

  @media(max-width: $desktop-xs-width) {
    display: none;
  }
}