@import '../../assets/scss/utils';

.fixed-cart {
  @include container;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  &_hide {
    display: none;
  }

  &__content {
    position: fixed;
    padding: 20px;
    margin-top: 20px;
    background-color: $light-color;
    border-radius: 80px;
    border: 1px solid $main-color;
    z-index: 18;
    top: 130px;
    box-shadow: 0px 0px 5px 0px $main-color;
    cursor: pointer;

    path {
      fill: $gray-color;
    }

    transition: top $animation-time, transform $animation-time;

    &__count {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $danger-color;
      padding: 5px 10px;
      font-weight: bold;
      color: $light-color;
      border-radius: 20px;
    }

    &__price {
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      text-align: center;
      background-color: $main-color;
      color: $light-color;
      font-weight: bold;
      padding: 2px 0px;
      border-radius: 5px;
    }

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: $tablet-sm-width) {
      transform: scale(0.8);
    }
  }
}