@import '../../assets/scss/utils';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $font-input-color;
  border: 2px solid rgba(129,129,129,.2);
  height: 36px;
  font-size: 12px;

  input {
    border: 0;
    outline: 0;
    padding: 0 15px;
    font-size: 12px;
    height: 98%;
    min-width: 290px;

    &::placeholder {
      font-size: inherit;
    }
  }

  .search {
    padding: 0 15px;
    height: 98%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      path {
        fill: $bg-font-color;
      };
    }
    
    img {
      width: 20px;
      height: 20px;
    }
  }
}