@import '../../../../assets/scss/utils';

.upload-input {
  $self: &;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  height: 220px;
  border: 2px dashed $gray-color;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  &__preview-img {
    padding: 6px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: padding $animation-time;
  }

  &__title {
    color: $gray-color;
    transition: $animation-time color;
  }

  &__input {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    height: 0;
  }

  &__error {
    position: absolute;
    color: $danger-color;
    font-size: 12px;
    bottom: -20px;
  }

  &:hover {
    border: 2px solid $dark-color;

    #{ $self }__title {
      color: $dark-color;
    }

    #{ $self }__preview-img {
      padding: 1px;
    }
  }
}