@import '../../assets/scss/utils';

.bottom-header {
  border-bottom: 1px solid $border-color;

  &__offset {
    height: 39px;
  }

  &__fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: $light-color;
  }

  &__content {
    @include container;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__phone {
      color: inherit;
      text-decoration: none;
      svg {
        margin-right: 10px;
      }
    }

    &__menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;

      &__item {
        padding: 0 10px;
    
        a {
          font-size: 14px;
          color: $dark-color;
          text-decoration: none;
          &:hover {
            color: $main-color;
          }
        }

        &_active {
          color: $main-color !important;
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 15px;
      }
    }
  }

  @media(max-width: $desktop-xs-width) {
    display: none;
  }
}