@import './grid';
@import './color';

* {
  box-sizing: border-box;

  &::before,
  &::after {
      box-sizing: border-box;
  }
}

body {
  background-color: $c-background;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
