@import '../../../../assets/scss/utils';

.text-input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__input {
    border: 1px solid $gray-color;
    border-radius: 5px;
    padding: 15px 10px;

    &_error {
      border: 1px solid $danger-color;

      &::placeholder {
        color: $danger-color;
      }
    }
  }

  &__label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 0.6px;
  }

  &__error {
    position: absolute;
    color: $danger-color;
    font-size: 12px;
    bottom: 30px;
    right: 13px;
  }
}