@import '../../assets/scss/utils';

.item {
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0,0,0,.12);
  margin: 7px;

  .img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all $animation-time;

    &:hover {
      transform: scale(1.05);
    }
  }

  &:hover {
    .count {
      position: relative;
      @include show;
    }

    .label {
      transition: transform $animation-time ease, opacity $animation-time ease;
      transform: translateY(-10%) translateZ(0);
    }

    .bottom {
      height: 40%;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  height: 25%;
  transition: height $animation-time ease;
  background-color: $layout-color;

  .label {
    transition: transform $animation-time ease, opacity $animation-time ease;
    transform: translateY(0) translateZ(0);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: $light-color;
  }

  .count {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    @include hide;
  }
}