@import '../../assets/scss/utils';

.card-item {
  $self: &;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0,0,0,.12);
  margin: 7px;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform $animation-time;
  }

  &__add {
    height: 20%;
    width: 20%;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    height: 25%;
    transition: height $animation-time ease;
    background-color: $layout-color;
    color: $light-color;
  }

  &__label {
    transition: transform $animation-time ease, opacity $animation-time ease;
    transform: translateY(0) translateZ(0);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }

  &__count {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    @include hide;
  }

  &:hover {
    #{ $self }__bottom {
      height: 40%;
    }

    #{ $self }__label {
      transition: transform $animation-time ease, opacity $animation-time ease;
      transform: translateY(-10%) translateZ(0);
    }

    #{ $self }__count {
      position: relative;
      @include show;
    }

    #{ $self }__img {
      transform: scale(1.05);
    }
  }
}
