@import '../../assets/scss/utils';

.wrapper {
  cursor: pointer;

  &:hover {
    color: $gray-color;
    g {
      fill: $gray-color;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .price {
      margin-left: 10px;
    }
  }
}