@import '../../assets/scss/utils';

.cart-header {
  cursor: pointer;

  &:hover {
    color: $gray-color;
    g {
      fill: $gray-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__price {
      margin-left: 10px;

      @media (max-width: $mobile-md-width) {
        display: none;
      }
    }
  }
}