@import '../../assets/scss/utils';

.wrapper {
  cursor: pointer;

  &:hover {
    color: $font-input-color;
    g {
      fill: $font-input-color;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}