@import '../../assets/scss/utils';

.fixed-cart-modal {
  &__layout {
    width: 100%;
    max-width: 560px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__header {
      font-size: 24px;
      font-weight: bold;
    }
  }
}