@import '../../assets/scss/utils';

.card-product {
  $self: &;

  position: relative;
  margin: 10px;
  cursor: pointer;

  &__preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 10px;

    transition: transform $animation-time linear;
    transform: scale(1);

    &:hover {
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      transition: transform $animation-time linear;
      transform: scale(1.1);
      z-index: 2;
      background-color: $light-color;

      #{ $self }__hover-content {
        position: absolute;
        top: 267px;
        box-shadow: 0 10px 10px rgba(0,0,0,.15);
        background-color: $light-color;
      }

      #{ $self }__description, #{ $self }__button {
        display: block;
      }
    }
  }

  &__figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;

    &-img {
      height: 90%;
      width: 90%;
      margin: 10px auto;
      object-fit: cover;
      transition: transform $animation-time;
    }
  }

  &__hover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__button {
    display: none;
    margin-bottom: 10px;
    @include button;
  }

  &__title {
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__category {
    margin: 10px 0;
    color: $gray-color;
    font-size: 14px;
  }

  &__price {
    font-weight: bold;
    color: $main-color;
  }

  &__description {
    display: none;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    color: $gray-color;
  }
}