@import '../../assets/scss/utils';

.sidebar-menu-header {
  &__close {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $border-color;

    padding: 8px 10px;
    cursor: pointer;

    path {
      fill: $gray-color;
    }

    > * {
      margin-right: 10px;
    }
  }

  &__menu-button {
    cursor: pointer;
    > * {
      margin-right: 5px;
    }

    &__label {
      @media (max-width: $tablet-sm-width) {
        display: none;
      }
    }

    &:hover {
      color: $gray-color;
      g {
        fill: $gray-color;
      }
    }
  }

  &__layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: $layout-color;
  }

  &__show-layout {
    visibility: visible;
    transition: visibility $animation-time;
  }

  &__hide-layout {
    visibility: hidden;
    transition: visibility $animation-time;
  }

  transition: all $animation-time ease;

  &__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    background-color: $light-color;
    border-right: none;
    overflow-y: auto;
    transition: all $animation-time ease;
    z-index: 20;
  }

  &__show {
    border-right: 2px solid $border-color;
    width: 300px;
  }
}