@import '../../assets/scss/utils';

.wrapper {
  .menuButton {
    cursor: pointer;
    > * {
      margin-right: 5px;
    }

    .label {
      @media (max-width: $tablet-sm-width) {
        display: none;
      }
    }

    &:hover {
      color: $gray-color;
      g {
        fill: $gray-color;
      }
    }
  }

  .layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: $layout-color;
  }

  .showLayout {
    visibility: visible;
    transition: visibility $animation-time;
  }

  .hideLayout {
    visibility: hidden;
    transition: visibility $animation-time;
  }

  transition: all $animation-time ease;

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    background-color: $light-color;
    border-right: none;
    overflow-y: auto;
    transition: all $animation-time ease;
    z-index: 20;
  }

  .show {
    border-right: 2px solid $border-color;
    width: 300px;
  }
}