@import '../../assets/scss/utils';

.wrapper {
  .menuButton {
    cursor: pointer;
    > * {
      margin-right: 5px;
    }

    .label {
      @media (max-width: $tablet-sm-width) {
        display: none;
      }
    }

    &:hover {
      color: $gray-color;
      g {
        fill: $gray-color;
      }
    }
  }
}