@import '../../assets/scss/utils';

.footer {
  display: flex;
  align-items: center;
  background-color: $main-color;
  color: $light-color;
  padding: 20px 0;
  margin-top: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 100px;

  &__content {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media(max-width: $desktop-xs-width) {
      width: 100%;
    }
  }

  &__icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    path, circle {
      fill: $gray-color;
    }

    &:hover {
      path, circle {
        fill: $dark-color;
      }
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $gray-color;
    }

    &-icon {
      margin-right: 10px;
    }
  }
}