@import '../../../../assets/scss/utils';

.logout-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__content {
    cursor: pointer;
    &:hover {
      color: $gray-color;
      path {
        fill: $gray-color;
      }
    }
  }

  &__icon {
    margin-right: 5px;
  }
}