@import '../../assets/scss/utils';

.wrapper {
  border-bottom: 1px solid rgba(232,232,232,1);

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 105px;
  
    @include container;
  
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: $width-logo;
      
      img {
        max-width: 45px;
        max-height: 45px;
        margin-right: 4px;
      }
  
      span {
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 26px;
      }
    }
  }
}