@import '../../assets/scss/utils';

.wrapper {
  position: relative;
  width: 290px;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;

    cursor: pointer;
    background-color: $main-color;
    color: $light-color;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 14px;

    span {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .list {
    @include hide;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $light-color;
    z-index: 1;

    &Item {
      list-style: none;
      border: 1px solid $border-color;
      margin: 0;

      a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: $dark-color;
      }

      &:hover {
        background-color: $hover-color;
      }
    }

    &ItemActive {
      background-color: $border-color;
      font-weight: bold;
    }
  }

  .arrowUp {
    @include rotateUp;
  }

  .arrowDown {
    @include rotateDown;
  }

  .show {
    @include show;
  }
}