@import '../../assets/scss/utils';

.wrapper {
  @include container;
  padding-top: 50px;
  padding-bottom: 50px;

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}