@import '../../assets/scss/utils';

.cart-form {
  &__fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border: 1px solid $gray-color;
    margin-bottom: 30px;
  }

  &__legend {
    font-weight: bold;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    border: 1px solid $gray-color;
    height: 56px;
    padding: 0 20px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }

  &__bottom {
    text-align: center;
  }

  &__submit {
    @include button;
    height: 45px;
    width: 100%;
    font-size: 18px;
  }
}