@import '../../../../assets/scss/utils';

.input-count {
  display: flex;
  flex-direction: row;
  align-items: center;

  path {
    fill: $gray-color;
  }

  &__value {
    margin: 0 10px;
    text-align: center;
    width: 18px;
  }

  &__icon {
    cursor: pointer;

    &:hover {
      path {
        fill: $main-color;
      }
    }
  }
}